
.fixed-bottom{
    text-align: center;
    background-color: blueviolet;
    z-index: 10;
    margin-left: 10vw;
}
.offcanvas-sm{
    background-color: brown;
    z-index: 100;
    max-width: 11vw;
}
@media (max-width: 576px) { 
    .fixed-bottom > .fixed-top{
        background-color: aqua;
    }
 }
